<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.symbol.shoppinglistv2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_bundle"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_bundle"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingListv2"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activities.ActivityFileExplorer"
            android:screenOrientation="portrait"
            android:exported="true">

        </activity>
        <activity
            android:name=".Activities.ActivitySignIn"
            android:label="Smart Shopping List"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Activities.ActivityBarcodeScanner"
            android:label="Smart Shopping List"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Activities.ActivityMain"
            android:label="Smart Shopping List"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />

        <receiver android:name=".Components.MyNotifications" />
    </application>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.SET_ALARM" />

</manifest>